@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


:root{
    --primary-color:#BEDCFE;
    --secondary-color:#85BDA6;
    --accent1-color:#3E885B;
    --accent2-color: #2F4B26;

    --heading-font:georgia;
    --paragraph-font:helvetica;

    --nav-background-color:#3E885B;
    --nav-link-color:#BEDCFE;
    --nav-hover-link-color:#2F4B26;
    --nav-hove-background-color:#85BDA6;

}


h1, h2, h3, h4, h5, h6{
    font-family:var(--heading-font) ;
    color: var(--primary-color);
    position: absolute;
}

h1{
    position: relative;
}

article{
    position: absolute;
    background-color: lightskyblue;
    opacity: var(--accent2-color);
 
}

article img{
    width: 200px;
    height: auto; 
    float: right;   
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}

nav a:link,nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hove-background-color);
}


.hero{
    display: block;
    width: 100%;
    height: auto;
}