  button {
    font: bold;
    background:cadetblue;
    cursor: pointer;
    
  }

  label {
    font:
      0.8em "typewriter",
      sans-serif;
  }
  

  input,select {
   background:rgb(165, 240, 240);
}
